In [1]:
# imprescindible
import pandas as pd
import numpy as np

# to avoid some warnings messages
import warnings
warnings.filterwarnings('ignore')

# to draw some graphs
import seaborn as sns
import matplotlib.pyplot as plt

# set seaborn and matplotlib default theme
sns.set_theme()
_sns_plotting_contex_ = sns.plotting_context()
sns.plotting_context('poster')

# set seaborn and matplotlib style to ...
# plt.style.use('classic')
sns.mpl.rcParams['axes.titlesize'] = 18
sns.mpl.rcParams['axes.labelsize'] = 14

# to use HTML codes within IPpython.display function
from IPython.display import HTML

### Data

In [2]:
def blogData_train_read() :
    u''' Reads and prepare data from blog feedback data train set
    
    '''

    data = pd.read_csv("./data/blogData_train.csv", header=None)
    data.drop_duplicates(inplace=True)
    data.reset_index(drop=True, inplace=True)
    
    header = pd.read_csv("./data/blogData_label.csv", header=None)
    header = list(header[0])
    
    if len(header) != data.shape[1] :
        raise Exception('Los encabezados y la cantidad de caracter√≠sticas NO COINCIDE !!!')

    data.columns = header
    
    return data

In [3]:
import os

In [4]:

def blogData_test_read() :
    u''' Reads and prepare data from blog feedback data test set
    
    '''

    filepath = './data/test/'
    filelist = [os.path.join(filepath, filename) for filename in os.listdir(filepath) if os.path.isfile(os.path.join(filepath, filename))]

    test_raw = pd.DataFrame()

    for filename in filelist :
        temp_raw = pd.read_csv(filename, header=None)
        temp_raw.drop_duplicates(inplace=True)
        test_raw = test_raw.append(temp_raw)

    return test_raw

---

In [5]:
ROUND = lambda v: round(v, 4)

---

In [6]:

from sklearn.preprocessing import StandardScaler

In [7]:

import xgboost as xgb

from sklearn.metrics import mean_squared_error

---

In [9]:
data_raw = blogData_train_read()
test_raw = blogData_test_read()

X_train = data_raw.iloc[:,0:280]
y_train = data_raw.iloc[:,-1].copy()

X_test = test_raw.iloc[:,0:280]
y_test = test_raw.iloc[:,-1].copy()


# X_train = X_train.iloc[:, 0:62].copy()
# X_test = X_test.iloc[:, 0:62].copy()

scaler = StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

---

In [10]:

class Eval_Estimator :
    u'''
    '''
    
    def __init__(self, name, estimator, params=None) :
        self.name = name
        self.estimator = estimator
        self.params = params
        
        return

In [11]:
models = []

models.append( Eval_Estimator(
    name='XGBoost L1 y L2', 
    estimator=xgb.XGBRegressor(), 
    params= {
        'eval_metric' : 'rmse', # root mean square error
        'gamma': 1, # (min_split_loss) minimum loss reduction
        'learning_rate': 0.2, # (eta) step size shrinkage
        'max_depth': 8, # maximum depth of tree
        # 'max_delta_step' : 0.5, # for classification extremely imbalanced
        'n_estimators': 1000, 
        'n_jobs': -2, # jobs in parallel -2 : all processors minus one
        'objective' : 'reg:squarederror', # regression with squared loss
        'random_state': 127, 
        'reg_alpha': 1000, # (alpha) L1 regularization
        'reg_lambda': 1000, # (lambda) L2 regularization
        'subsample' : 0.1, # prevents overfitting
    }
))

In [12]:
eval_columns = ['model', 'params', 'train RMSE', 'test RMSE']
eval_result = pd.DataFrame(columns=eval_columns)

for m in models :
    m.estimator.set_params(**m.params)
    m.estimator.fit(X_train, y_train)
    
    y_pred_train = m.estimator.predict(X_train)
    rmse_train = ROUND(np.sqrt(mean_squared_error(y_train, y_pred_train)))

    y_pred_test = m.estimator.predict(X_test)
    rmse_test = ROUND(np.sqrt(mean_squared_error(y_test, y_pred_test)))
    
    eval_result = eval_result.append(
        pd.Series(
            data=[m.name, 
                  m.params, 
                  rmse_train, 
                  rmse_test
                 ], 
            index=eval_result.columns), 
        ignore_index=True
    )

display(eval_result)

,model,params,train RMSE,test RMSE
0,XGBoost L1 y L2,"{'eval_metric': 'rmse', 'gamma': 1, 'learning_...",23.4191,23.2356

---

In [13]:
model = models[0]
print(model.name)

XGBoost L1 y L2

---

In [14]:
class Eval_Test :
    u'''
    '''
    
    def __init__(self, case, data) :
        self.case = case
        self.data = data
        return    

def eval_blogData_test() :
    u''' Reads and prepare data from blog feedback data test set
    
    '''

    filepath = './data/test/'
    filelist = [os.path.join(filepath, filename) for filename in os.listdir(filepath) if os.path.isfile(os.path.join(filepath, filename))]

    temp = []
    for filename in filelist :
        temp_raw = pd.read_csv(filename, header=None)
        temp_raw.drop_duplicates(inplace=True)
        
        pos = filename.index('2012')
        temp.append( Eval_Test(filename[pos: pos+10], temp_raw) )

    return temp

temp = eval_blogData_test()

In [64]:
results = pd.DataFrame(columns=['case', 'count', 'y mean', 'y std', 'y min', 'y max', 'RMSE'])

for e in temp :
    # if m.sum() > 0 :
        X = e.data.iloc[:,0:280]
        y = e.data.iloc[:,-1]
        X = scaler.transform(X)
        p = model.estimator.predict(X)
        rmse = ROUND(np.sqrt(mean_squared_error(y, p)))

        results = results.append(
            pd.Series(
                data=[e.case, 
                      y.shape[0], 
                      ROUND(y.mean()), 
                      ROUND(y.std()), 
                      ROUND(y.min()), 
                      ROUND(y.max()), 
                      rmse
                     ], 
                index=results.columns), 
            ignore_index=True
        )

In [65]:
display(results)

          case count   y mean    y std  y min  y max     RMSE
0   2012.02.01   113   7.7699  40.4976    0.0  402.0  23.9641
1   2012.02.02   130   6.0462  31.6323    0.0  325.0  18.6974
2   2012.02.03   115   7.3043  41.8691    0.0  428.0  31.2256
3   2012.02.04   101   2.5446   8.8584    0.0   57.0   7.8083
4   2012.02.05    91   5.4066  32.2180    0.0  294.0  14.7515
5   2012.02.06    82   4.9390  26.3717    0.0  234.0  15.8392
6   2012.02.07   102   4.6078  13.7842    0.0  104.0  30.8227
7   2012.02.08   122   9.6066  41.9735    0.0  298.0  32.1069
8   2012.02.09   144   6.2639  36.1968    0.0  381.0  25.9801
9   2012.02.10   135   4.9185  29.0674    0.0  327.0  16.8232
10  2012.02.11   122   1.2213   3.9824    0.0   34.0  11.1938
11  2012.02.12    97   0.9175   2.5152    0.0   19.0   5.3397
12  2012.02.13    88   3.7727  16.8767    0.0  148.0  19.0923
13  2012.02.14    96   9.0312  45.2505    0.0  392.0  28.6532
14  2012.02.15   123   9.0894  54.7429    0.0  551.0  44.9422
15  2012.02.16   137   6.8832  40.0274    0.0  452.0  33.8244
16  2012.02.17   137   4.6058  16.1620    0.0  149.0  11.6947
17  2012.02.18   121   5.3058  23.4004    0.0  210.0  16.0310
18  2012.02.19   103  10.9417  50.4684    0.0  448.0  28.9229
19  2012.02.20    88   6.1136  33.1799    0.0  304.0  25.0452
20  2012.02.21    88   8.1477  48.1109    0.0  425.0  40.6548
21  2012.02.22   107   4.4579  15.9825    0.0  134.0  11.2757
22  2012.02.23   122   6.7705  42.4999    0.0  458.0  12.7547
23  2012.02.24   122   7.5738  35.7475    0.0  358.0  20.8795
24  2012.02.25   141   6.3191  36.3674    0.0  382.0  27.7492
25  2012.02.26   127   6.6142  41.4413    0.0  443.0  38.8973
26  2012.02.27   113   3.1062  11.8994    0.0  104.0   8.2123
27  2012.02.28    91   7.9121  34.8220    0.0  269.0  30.0103
28  2012.02.29   108   6.7315  35.5308    0.0  291.0  20.4773
29  2012.03.01   135   4.9704  19.3367    0.0  150.0  16.7691
30  2012.03.02   137   4.2701  22.1899    0.0  240.0  15.8939
31  2012.03.03   128   2.3516  15.6319    0.0  171.0  17.6127
32  2012.03.04   100   3.4100  23.4327    0.0  232.0  22.6572
33  2012.03.05    79   5.5949  45.7528    0.0  407.0  42.5263
34  2012.03.06    83   4.6386  31.9380    0.0  290.0  11.8008
35  2012.03.07   102   5.2255  26.6030    0.0  195.0  20.5772
36  2012.03.08   111   3.5586  17.0974    0.0  147.0  14.2032
37  2012.03.09   118   9.6356  56.0102    0.0  480.0  41.8077
38  2012.03.10   112   2.6250  11.9708    0.0   84.0   9.2972
39  2012.03.11   101   5.7426  27.5818    0.0  246.0  13.6672
40  2012.03.12    84   4.9524  17.0781    0.0   93.0  14.7889
41  2012.03.13    95   2.8947  14.6668    0.0  140.0   9.1082
42  2012.03.14   117   5.8803  25.4786    0.0  227.0  17.4034
43  2012.03.15   135   3.7852  19.7384    0.0  157.0  13.3428
44  2012.03.16   139   6.2302  28.9791    0.0  285.0  22.2932
45  2012.03.17   132   5.7879  27.7282    0.0  279.0  26.2107
46  2012.03.18   115   3.5304  11.8665    0.0   90.0  12.1070
47  2012.03.19    98   4.2245  16.3578    0.0  124.0  15.9270
48  2012.03.20   109   5.1651  23.6414    0.0  178.0  21.4637
49  2012.03.21   126   4.5794  15.7792    0.0  101.0  12.5189
50  2012.03.22   132   5.9242  25.0376    0.0  231.0  18.0995
51  2012.03.23   127   4.1575  25.5326    0.0  285.0  24.8070
52  2012.03.24   126   2.1190   6.8289    0.0   49.0   9.5137
53  2012.03.25   121   3.7438  31.4326    0.0  345.0  25.3691
54  2012.03.26   101   3.4851  16.6389    0.0  138.0  10.0578
55  2012.03.27   108   7.7037  35.9889    0.0  332.0  16.2319
56  2012.03.28   130   8.2077  32.2720    0.0  257.0  26.1098
57  2012.03.29   172   6.6686  30.7252    0.0  266.0  25.8158
58  2012.03.30   188   5.6915  48.7312    0.0  657.0  32.6270
59  2012.03.31   209   7.1722  48.3878    0.0  632.0  26.8182

In [66]:
results.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
y mean,60.0,5.480815,2.123278,0.9175,4.064425,5.35620,6.741250,10.9417
y std,60.0,28.198525,13.081355,2.5152,16.817250,27.65500,36.239450,56.0102
y min,60.0,0.000000,0.000000,0.0000,0.000000,0.00000,0.000000,0.0000
y max,60.0,265.483333,146.204117,19.0000,147.750000,261.50000,363.750000,657.0000
RMSE,60.0,21.018260,9.549356,5.3397,13.586100,18.89485,26.362575,44.9422